<kendo-grid

  [data]="view"
  #productsGrid
  id="productsGrid"
      (cellClick)="cellClickHandler($event)"
      (add)="addHandler()"
  [height]="500"
  
>
<!-- <ng-template kendoGridToolbarTemplate>
  @if (!formGroup) {
  <button kendoGridAddCommand>Add new</button>
  } @if (formGroup) {
  <div>
    <button kendoButton [disabled]="!formGroup.valid" (click)="saveRow()">
      Save
    </button>
    <button kendoButton themeColor="primary" (click)="cancelHandler()">
      Cancel
    </button>
  </div>
  }
</ng-template> -->
<ng-template kendoGridToolbarTemplate>
  <button *ngIf="!formGroup" kendoGridAddCommand>Add new</button>

  <div *ngIf="formGroup">
    <button kendoButton [disabled]="!formGroup.valid" (click)="saveRow()">Save</button>
    <button kendoButton themeColor="primary" (click)="cancelHandler()">Cancel</button>
  </div>

  
</ng-template>



  <kendo-grid-column field="FirstName" title="First Name"></kendo-grid-column>
  <kendo-grid-column field="LastName" title="Last Name"></kendo-grid-column>
  <kendo-grid-column field="Email" title="Email"></kendo-grid-column>
  <kendo-grid-column field="Phone" title="Phone"></kendo-grid-column>
  <kendo-grid-column field="CompanyName" title="Company"></kendo-grid-column>
  <kendo-grid-column field="LeadSource" title="Source"></kendo-grid-column>
  <kendo-grid-column
    field="AssignedTo"
    title="Assigned To"
  ></kendo-grid-column>
  <!-- <kendo-grid-column
    field="StatusID"
    editor="numeric"
    title="Status ID"
  ></kendo-grid-column> -->
  <kendo-grid-column
    field="LeadScore"
    editor="numeric"
    title="Lead Score"
  ></kendo-grid-column>
  <kendo-grid-column
    field="IsQualified"
    editor="boolean"
    title="Qualified"
  ></kendo-grid-column>
  <kendo-grid-column field="CreatedDate" title="Created" format="{0:yyyy-MM-dd}">
    <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
      <!-- Simple HTML Date Input for editing without pipe -->
      <input
        type="date"
        [formControl]="formGroup.get('CreatedDate')"
      />
    </ng-template>
  </kendo-grid-column>
  
  
  
</kendo-grid>
