<kendo-grid
  [data]="gridData"
  [height]="600"
  [pageSize]="10"
  [pageable]="true"
  [sortable]="true"
  [groupable]="true"
  [reorderable]="true"
  [resizable]="true"
  [columnMenu]="{ filter: true }"
  [selectable]="{ mode: 'multiple' }" 
  [kendoGridSelectBy]="'id'"
  [(selectedKeys)]="selectedKeys"
  (cellClick)="onCellClick($event)"
>
  <kendo-grid-checkbox-column [width]="50"></kendo-grid-checkbox-column>

  <!-- Actions Column -->
  <kendo-grid-column field="actions" title="Actions" [width]="150">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button kendoButton themeColor="success" (click)="performAction(dataItem)">Details</button>
      <button kendoButton themeColor="warning" (click)="editRow(dataItem)">Edit</button>
    </ng-template>
  </kendo-grid-column>

  <!-- Sample Data Columns -->
  <kendo-grid-column field="recordId" title="Record ID" [width]="120"></kendo-grid-column>
  <kendo-grid-column field="lastName" title="Last Name"></kendo-grid-column>
  <kendo-grid-column field="firstName" title="First Name"></kendo-grid-column>
  <kendo-grid-column field="email" title="Email Address" [width]="200"></kendo-grid-column>
  <kendo-grid-column field="phone" title="Phone Number"></kendo-grid-column>
  <kendo-grid-column field="leadId" title="Lead ID"></kendo-grid-column>
  <kendo-grid-column field="appointmentType" title="Appointment Type"></kendo-grid-column>
  <kendo-grid-column field="bookingAgency" title="Booking Agency"></kendo-grid-column>
</kendo-grid>